{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
    <main class="main pages">
        <div class=" pt-50">
            <div class="container">
                <div class="container"  style="display: flex; flex-direction: row; justify-content: center;">
                    {{ location.map_iframe|safe }}
                </div>
                <div class="row">
                    <div class="col-xl-10 col-lg-12 m-auto">
                        <div class="row">
                            <div class="col-lg-9">
                                <div class="single-page pr-30 mb-lg-0 mb-sm-5">
                                    {{location.details|safe}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}
